---
layout: default
---

<!--<header class="intro-header" style="background-image: url('/img/{{page.image}}')">-->
<header class="intro-header" style="background-color: {{page.bg-color}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{ page.title }}</h1>
					{% if page.subhead %}
						<h2 class="subheading">{{page.subhead}}</h2>
					{% endif %}
					<span class="meta">Posted by {{ page.author }} on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
				</div>
			</div>
		</div>
	</div>
</header>
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ content }}
			</div>
		</div>
	</div>
</article>

